{% extends "base.html" %}
{% load crispy_forms_tags %}


<style>
{% block css %}
.nav a{
	color: #777;
}
.nav li.active {
	border-left: 3px solid #337ab7;
	background-color: #eee;
}
{% endblock %}
</style>


<script>
$(document).ready(function(){
{% block js %}

{% endblock %}
});
</script>


{% block content %}
<div class="row">
	<div class="col-sm-2">
		<ul class="nav" role="tablist">
			<li role="presentation" class="active"><a href="#" aria-controls="profile" role="tab">Profile<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span></a></li>
			<li role="presentation"><a href="{% url 'auth_changepassword' %}" aria-controls="changepassword" role="tab">Change Password<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span></a></li>
		</ul>
	</div>
	<div class="col-sm-10">
		<div class="tab-content">
    <div class="tab-pane active" id="profile">
    	<h3 class="pull-right">Edit Profile</h3>
    	<div class="clearfix"></div>
    	<hr style="margin-top: 0px;" />
    	{% crispy form %}
	</div>
  </div>
			
	</div>
</div>
{% endblock %}

