@import url(http://fonts.googleapis.com/css?family=Ruda:400,700,900);
body {
	background-color: #F8F8F8;
	color: #797979;
	font-family: 'Ruda', sans-serif;
	min-height: 1000px;
	padding-top: 100px;
}
.alert {
	padding: 10px 15px !important;
}
.alert-dismissible .close {
	top: 0px;
	right: 0px;
}
.jumbotron {
	background-color: #F8F8F8
}
.navbar.overlap {
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}
.navbar-default {
	border:0;
}
.todolist {
	background: #fff;
	border-radius: 0;
	box-shadow: 0px 3px 2px #aab2bd;
	margin: 5px;
	text-align: left;
}


/* *************************************************************************************
PANELS CONFIGURATIONS
*************************************************************************************** */

/*Panel Size*/

.pn {
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}

.pn:hover {
	box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.3);
	
}
.panel {
	border-radius: 0;
}

/*Grey Panel*/

.grey-panel {
	text-align: center;
	background: #dfdfe1;
}
.grey-panel .grey-header {
	background: #ccd1d9;
	padding: 3px;
	margin-bottom: 15px;
}
.grey-panel h5 {
	font-weight: 200;
	margin-top: 10px;
}
.grey-panel p {
	margin-left: 5px;
}
/* Specific Conf for Donut Charts*/
.donut-chart p {
	margin-top: 5px;
	font-weight: 700;
	margin-left: 15px;
}
.donut-chart h2 {
	font-weight: 900;
	color: #FF6B6B;
	font-size: 38px;
}

/* Dark Blue*/

.darkblue-panel {
	text-align: center;
	background: #444c57;
}
.darkblue-panel .help-block {
	text-align: right !important;
	color: white !important;
}
.darkblue-panel .darkblue-header {
	background: transparent;
	padding: 3px;
	margin-bottom: 15px;
}
.darkblue-panel h1 {
	color: #f2f2f2;
}
.darkblue-panel h5 {
	font-weight: 200;
	margin-top: 10px;
	color: white;
}
.darkblue-panel footer {
	color: white;
}
.darkblue-panel footer h5 {
	margin-left:10px; 
	margin-right: 10px;
	font-weight: 700;
}

/*Green Panel*/
.green-panel {
	text-align: center;
	background: #68dff0;
}
.green-panel .green-header {
	background: #43b1a9;
	padding: 3px;
	margin-bottom: 15px;
}
.green-panel h5 {
	color: white;
	font-weight: 200;
	margin-top: 10px;
}
.green-panel h3 {
	color: white;
	font-weight: 100;
}
.green-panel p {
	color: white;
}

/*White Panel */
.white-panel {
	text-align: center;
	background: #ffffff;
	color: #ccd1d9;
}

.white-panel p {
	margin-top: 5px;
	font-weight: 700;
	margin-left: 15px;
}
.white-panel .white-header {
	background: #f4f4f4;
	padding: 3px;
	margin-bottom: 15px;
	color: #c6c6c6;
}
.white-panel .small {
	font-size: 10px;
	color: #ccd1d9;
}

.white-panel i {
	color: #68dff0;
	padding-right: 4px;
	font-size: 14px;
}
#lists-container > div {
	display: none;
	width: 420px;
  	float: left;
}
.todolist .panel-heading {
	background-color: #fff;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	color: #797979;
	padding: 10px 15px;
}
.todolist .panel-body {
	padding: 15px;
}
.todolist .panel-body ul.list-group {
	min-height: 25px;
}
.todolist .panel-body ul.list-group li.list-group-item {
	background-color: #EFEFEF;
	border: 0;
	border-radius: 0;
	margin-bottom: 3px;
}
.todolist .panel-body ul.list-group li.list-group-item:hover {
	background-color: #FDFDFD;
  	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}
.task-done {
	background-color: #777777 !important;
  	color: white;
}
.task-done:hover {
	background-color: #646464 !important;
}
.task-done .todo-title .todo-title-text {
	text-decoration: line-through;
}