{% load humanize %} 
{% for input in form  %}

{% endfor %}
<p class="flow-text">Edit Task</p>
<form action="{{ request.get_full_path }}" method="POST" class="modal-form edit-task-form">
	{% for input in form  %}
		{% if input == form.order %}
			<div class="row">
				<div class="input-field">
					<select id="id_order" name="order">
					{% for order in list_orders %}
						{% if input.value == order %}
							<option value="{{ order }}" selected="selected">{{order|ordinal}}</option>
						{% else %}
							<option value="{{ order }}">{{order|ordinal}}</option>
						{% endif %}
					{% endfor %}
					</select>
					<label for="id_order">Order:</label>
				</div>
			</div>
		{% else %}
			<div class="row">
				<div class="input-field">
				    {{ input }}
				    {{ input.label_tag }}
				</div>
			</div>
		{% endif %}
	{% endfor %}
	<input type="submit" value="Save" class="btn btn-primary btn-block">
</form>
<script>
	window.parent_list_slug = '{{parent_list_slug}}'
</script>